body {
    font-family:Consolas;
    font-size:smaller;
    background-color:black;
    color:white
}

.date {
    color:#4585C5
}

/* unvisited link */
a:link {
    color: #19A319;
}

/* visited link */
a:visited {
    color: #19A319;
}

/* mouse over link */
a:hover {
    color: #19A319;
}

/* selected link */
a:active {
    color: #19A319;
}
